<form method="post"> 
    <input type="text" name="username" class="form-control" placeholder="Login Name" />
    <input type="password" name="password" class="form-control" placeholder="Password" />
    <button class="btn btn-primary" type="submit">Login</button>
    <p>
        @ViewBag.error
    </p>
</form>